* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

a {
    text-decoration: none;
    text-decoration: underline;
    color: dodgerblue;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #cccccc;
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .search {
    width: 200px;
    height: 25px;
    border: 2px solid black;
}

.navbar .loginbtn {
    width: 80px;
    height: 25px;
    background-color: #2B78E4;
    color: white;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    cursor: pointer;
}

.navbar .loginbtn:active {
    background-color: indigo;
    transform: translate3d(1px, 1px, 1px);
}

.mainContainer {
    width: 600px;
    height: 100vh;
    background-color: white;

}

.topContainer {
    width: 350px;
    height: 120px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 15px;
}

.topContainer .word {
    width: 200px;
    text-align: center;
}

.topContainer .word .likes {
    width: 80px;
    height: 25px;
    background-color: #FFD966;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.topContainer .word .likes:active {
    transform: translate3d(1px, 1px, 1px);
}

.topContainer .word span {
    font-style: italic;
}

.rightContainer {
    width: 200px;
    height: 120px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 400px
}

.rightContainer .text {
    width: 200px;
    height: 50px;
    padding-left: 45px;
    padding-top: 10px;
}

.rightContainer .btn {
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addbtn {
    width: 150px;
    height: 30px;
    background-color: #93C47D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    cursor: pointer;
}

.bottomContainer {
    width: 350px;
    height: 120px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 230px;
    margin-top: 20px;
    padding: 15px;
}

.bottomContainer .word {
    width: 200px;
    text-align: center;
}

.bottomContainer .word .likes {
    width: 80px;
    height: 25px;
    background-color: #FFD966;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.bottomContainer .word .likes:active {
    transform: translate3d(1px, 1px, 1px);
}

.bottomContainer .word span {
    font-style: italic;
}