.search, .add, .create {
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

.search {
    font-weight: 900;
    font-size: 15px;
    color: darkgreen;
    width: 150px;
    border-color: darkgreen;
    border-radius: 20px;
}

.add {
    width: 40px;
    background-color: darkolivegreen;
    color: white;
    border-radius: 50%;
    border: none;
}

.create {
    width: 150px;
    background-color: blue;
    color: white;
    border: 2px solid #000;
    box-shadow: 2px 2px black;
}